<!-- Sidebar -->
					<div id="sidebar">
					
						<!-- Logo -->
							{% include logo.html %}
					
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="#">Latest Post</a></li>
									<li><a href="#">Archives</a></li>
									<li><a href="#">About Me</a></li>
									<li><a href="#">Contact Me</a></li>
								</ul>
							</nav>

						{% include twitter.html %}
					
						<!-- Text -->
							<section class="is-text-style1">
								<div class="inner">
									<p>
										<strong>Digital Alchemy</strong> A blog site for Founders and Coders II
									</p>
								</div>
							</section>
					
						<!-- Recent Posts -->
							<section class="is-recent-posts">
								<header>
									<h2>Recent Posts</h2>
								</header>
								<ul>
									{% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
								</ul>
							</section>
            
             
            
						<!-- Copyright -->
							<div id="copyright">
								<p>
									&copy; 2014 Digital Alchemy.
								</p>
							</div>

					</div>